@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.content {
  margin-top: $layout-margin;
  background-color: $white;
  padding: $schedule-layout-padding;
  border-radius: $border-radius;
}

.info {
  display: flex;
  gap: 10px;
}

.textInfo {
  width: 470px;
  font-size: $bigger-font-size;

  h3,
  p {
    font-size: $bigger-font-size;
    line-height: 24px;
    color: $font-grey;
  }

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $reddish;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid $main-background;
  }

  .bold {
    font-weight: bold;
  }
}

.image {
  flex: 1;
  height: 500px;
  border: 4px solid $main-background;
  @include background-image();
  border-radius: $border-radius;

  p {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    margin: -4px;
    text-align: center;
    color: $white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
  }
}

.description {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 2px solid $main-background;
}
