@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.wrapper {
  @include flex();
  align-items: center;
  width: 30vh;
  height: 50px;
  border: 1px solid $btn-color;
  border-radius: $border-radius;
  background-color: $primary-color;
}

.icon {
  height: 22px;
  width: 24px;
  fill: $white-color;
  transform: scale(1.1);
  margin: 0 1vh;
}

.input {
  width: 100%;
}
