@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.wrapper {
  @include flex($j: space-around);
  align-items: center;
  width: 36vh;
  height: 50px;
  border: 1px solid $btn-color;
  border-radius: $border-radius;
  padding: 0 1vh;
}

.icon {
  height: 22px;
  width: 28px;
  fill: $white-color;
  margin-right: 1vh;
}

.input {
  width: 100%;
}

.caps {
  height: 24px;
  width: 24px;
  fill: $white-color;
}
