@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.link {
  display: block;
  width: $content-width;
  height: $patreon-banner-height;
  margin-top: $layout-margin;
  border-radius: $border-radius;
}
