@import 'src/styles/_variables';
@import 'src/styles/_mixins';

.navigation {
  background-color: $background-layout;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: var(--left-section-width);
  padding-top: var(--header-height);
  @include hide();
  z-index: $almost-nice-index;

  @media (min-width: $tablet) {
    @include show();
  }
}

.showMobile {
  @include show();
}

.description {
  display: none;

  @media (min-width: $biggest-desktop) {
    display: inline;
    @include ellipsis();
  }
}

.whrapper {
  padding: var(--whrapper-padding);
}

.externalSvg {
  height: 14px !important;
  width: 14px !important;
  margin-left: 0.625rem;
}

.recentAnimes {
  display: none;

  @media (min-width: $biggest-desktop) {
    display: block;
  }

  li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.item {
  display: block;
  cursor: pointer;
}

.link,
.link:visited {
  @include flex(flex-start);
  font-size: $bigger-font;
  padding: 1.125rem;
  width: 100%;
  border-radius: $border-radius;

  @media (min-width: $biggest-desktop) {
    padding: 1.125rem 0.75rem;
  }

  &:hover,
  &:active,
  &:focus {
    transition: $simple-transition;
    color: $btn-color;
    fill: $btn-color;

    svg {
      transition: $simple-transition;
      fill: $btn-color !important;
    }
  }

  svg {
    @include width-height(20px);
    min-width: 20px;
    fill: $white-color;

    @media (min-width: $biggest-desktop) {
      margin-right: 0.625rem;
    }
  }
}

.active {
  background-color: $active-and-input-color;
  color: $btn-color;

  svg {
    fill: $btn-color !important;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: $bigger-gap;
}

.button {
  display: flex;
  margin: var(--whrapper-padding) auto 0;

  svg {
    @include width-height(24px !important);

    @media (min-width: $tablet) {
      @include width-height(30px);
    }
  }
}
