@import 'src/styles/_variables';

@mixin background-image($path: '', $repeat: no-repeat, $position: center, $size: cover) {
  background-image: url($path);
  background-repeat: #{$repeat};
  background-position: $position;
  background-size: $size;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin stretch-absolute() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin additional-error() {
  color: $reddish;
  font-style: italic;
  font-size: $title-font-size;
  text-align: center;
}
