// Colors
$main-background: #d3d3d3;
$footer-background: #383838;
$black: #000;
$white: #fff;
$color-grey: #ddd;

// Sizes
$header-height: 215px;
$header-logo-height: 92px;
$header-logo-width: 213px;

$global-nav-height: 50px;

$content-width: 880px;

$patreon-banner-height: 100px;

$side-width: 280px;
$side-min-height: 1580px;

$footer-height: 100px;

// Images
$header-logo: 'public/assets/images/header-logo.png';

$patreon-banner: 'public/assets/images/patreon-banner.jpg';

$footer-thanks: 'public/assets/images/footer-thanks.png';

// Margins
$layout-margin: 10px;
$bigger-layout-margin: 15px;

// Other
$border-radius: 4px;
