// Colors
$main-background: #d3d3d3;
$black: #000;
$white: #fff;

// Sizes
$header-height: 215px;
$header-logo-height: 92px;
$header-logo-width: 213px;

// Images
$header-logo: 'public/assets/images/logo-header.png';
$header-ad: 'https://static.anilibria.tv/img/other/a/bok.png';
