@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.content {
  width: 100%;
}

.showFilter {
  margin: 0 auto $layout-margin;

  @media (min-width: 652px) {
    display: none;
  }
}

.search {
  margin-bottom: $layout-margin;

  form {
    gap: $layout-margin;
    height: 100%;
    @include flex(flex-start, space-between);
    flex-direction: column;
  }

  @media (min-width: 652px) {
    min-height: 94px;
    display: block;
  }
}

.selects {
  @include flex(flex-start, space-between);
  flex-direction: column;
  gap: $gap;

  @media (min-width: 652px) {
    flex-direction: row;
  }

  .select {
    @media (min-width: 652px) {
      flex: 1.4;
      align-self: flex-start;

      &:first-child {
        flex: 2.5;
      }

      &:nth-child(2) {
        flex: 1.6;
      }
    }
  }
}

.searchBottom {
  @media (min-width: 652px) {
    @include flex(space-between);
  }
}

.submits {
  @media (min-width: 652px) {
    display: flex;
    gap: $gap;
    flex: 4;
  }

  button {
    margin: 0 auto $gap;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 652px) {
      margin: 0;
    }

    &:last-child {
      flex: 2;

      svg {
        fill: $super-white-color;
        margin: 3px 3px 0 0;
        @include width-height(1.25rem);
      }
    }
  }
}

.alphabet {
  flex: 5;
  text-align: right;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.animes {
  grid-template-columns: 1fr;
  display: grid;
  justify-content: space-between;
  gap: $gap;
  margin-bottom: calc($bigger-gap * 2);

  @media (min-width: 472px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 726px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1120px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $biggest-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1360px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.animeItem {
  height: 350px;
  border-radius: $border-radius;

  @media (min-width: 320px) {
    height: 350px;
    margin: 0 10px;
  }

  @media (min-width: 360px) {
    height: 350px;
    margin: 0 40px;
  }

  @media (min-width: 420px) {
    height: 380px;
    margin: 0 60px;
  }

  @media (min-width: 472px) {
    height: 320px;
    margin: 0;
  }

  @media (min-width: 554px) {
    height: 380px;
  }

  @media (min-width: 624px) {
    height: 420px;
  }

  @media (min-width: 726px) {
    height: 340px;
  }

  @media (min-width: 956px) {
    height: 430px;
  }

  @media (min-width: 1120px) {
    height: 390px;
  }

  @media (min-width: $biggest-desktop) {
    height: 430px;
  }

  @media (min-width: 1360px) {
    height: 390px;
  }

  img {
    border-radius: $border-radius;
  }

  div {
    border-radius: $border-radius;
  }

  p {
    font-size: 1.0625rem;

    &:first-child {
      margin-bottom: $gap;
    }

    &:last-child {
      line-height: 1.1875rem;
      margin-top: 1.5625rem;
      font-size: 0.9375rem;
    }

    @media (min-width: 554px) {
      &:last-child {
        margin-top: 3.75rem;
      }
    }

    @media (min-width: 726px) {
      &:last-child {
        margin-top: 1.25rem;
      }
    }

    @media (min-width: 956px) {
      font-size: 1.1875rem;

      &:last-child {
        line-height: 1.3rem;
        margin-top: 5.313rem;
        font-size: 1rem;
      }
    }

    @media (min-width: 1120px) {
      &:last-child {
        margin-top: 65px;
      }
    }
    @media (min-width: 1360px) {
      &:last-child {
        margin-top: 85px;
      }
    }
  }
}

.pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
