@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: $header-height-mobile + $whrapper-padding-mobile $whrapper-padding-mobile
    $whrapper-padding-mobile;

  @media (min-width: $tablet) {
    margin-left: $navigation-mobile-width;
    padding-top: $header-height-tablet + $whrapper-padding-mobile;
  }

  @media (min-width: $desktop) {
    padding-top: $header-height + $whrapper-padding-mobile;
  }

  @media (min-width: $biggest-desktop) {
    padding: $header-height + $whrapper-padding $whrapper-padding $whrapper-padding;
    margin: 0 $navigation-width;
  }
}

.container {
  position: relative;
  display: flex;
  width: 1100px;
}

.side {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 228px;
  padding: $header-height-mobile + $whrapper-padding-mobile $whrapper-padding-mobile
    $whrapper-padding-mobile;
  align-self: start;
  display: flex;
  flex-direction: column;
  z-index: $nice-index;
  @include hide();
  // make scrollable but hide scroll
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  @media (min-width: $tablet) {
    padding-top: $header-height-tablet + $whrapper-padding-mobile;
    width: $navigation-width;
  }

  @media (min-width: $desktop) {
    padding-top: $header-height + $whrapper-padding-mobile;
  }

  @media (min-width: $biggest-desktop) {
    width: $navigation-width;
    padding: $header-height + $whrapper-padding $whrapper-padding $whrapper-padding;
    @include show();
  }
}

.hide {
  @include show();

  @media (min-width: $biggest-desktop) {
    @include hide();
  }
}

.search {
  width: 100%;
}

.animes {
  display: flex;
  flex-direction: column;
  gap: $whrapper-padding-mobile;

  @media (min-width: $biggest-desktop) {
    gap: $whrapper-padding;
  }
}

.animeItem {
  height: 284px;

  border: 2px solid $btn-color;
  border-radius: $border-radius;

  &:hover {
    border: 2px solid $btn-hover-color;
  }

  p {
    font-size: 16px;

    &:last-child {
      font-size: 14px;
      line-height: 18px;
    }
  }

  @media (min-width: $tablet) {
    height: 356px;
    p {
      font-size: 18px;

      &:last-child {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
