@import 'src/styles/_variables';

.search {
  $search-height: 43px;
  $search-offset: 5px;
  $search-vertical-padding: 12px;
  $search-horizontal-padding: 8px;
  $size-tablet: 0.8;
  $font-tablet: 0.9;
  $size-mobile: 0.7;
  $font-mobile: 0.5;

  position: relative;
  background-color: var(--background);
  border-radius: $border-radius;
  font-size: 1rem * $font-tablet;

  input {
    position: relative;
    height: $search-height * $size-mobile;
    width: 300px * $font-mobile;
    padding: 0 $search-vertical-padding * $size-mobile;
    border: 1px solid $background-color;
    border-radius: $border-radius;
    z-index: $nice-index;

    &:hover,
    &:active,
    &:focus {
      border-color: $active-and-input-color;
    }
  }

  ul {
    position: absolute;
    left: 0;
    right: 0;
    top: $search-height * $size-mobile + $search-offset;
    background-color: var(--background);
    border: 1px solid $active-and-input-color;
    padding: $search-offset 0;
  }

  li {
    &:hover {
      background-color: $active-and-input-color;
      a {
        color: $btn-color;
      }
    }
  }

  .searchLink,
  span {
    display: inline-block;
    padding: $search-horizontal-padding * $size-mobile $search-vertical-padding * $size-mobile;
  }

  .searchLink {
    width: 100%;
    height: 100%;
  }

  $svg-times: 2;
  svg {
    display: none;
    position: absolute;
    top: 50%;
    fill: $white-color;
    transform: translateY(-50%);
    z-index: 1;
  }

  @media (min-width: $tablet) {
    input {
      width: 300px * $font-tablet;
      height: $search-height * $size-tablet;
      padding: 0 $search-vertical-padding;
    }

    ul {
      top: $search-height * $size-tablet + $search-offset;
    }

    .searchLink,
    span {
      padding: $search-horizontal-padding $search-vertical-padding;
    }

    svg {
      display: block;
      right: $search-height / (2 * $svg-times) * $font-tablet;
      width: $search-height / $svg-times * $font-tablet;
      height: $search-height / $svg-times * $font-tablet;
    }
  }

  @media (min-width: $desktop) {
    font-size: 1rem;

    input {
      width: 300px;
      height: $search-height;
    }

    ul {
      top: $search-height + $search-offset;
    }

    svg {
      right: $search-height / (2 * $svg-times);
      width: $search-height / $svg-times;
      height: $search-height / $svg-times;
    }
  }
}
