@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  gap: var(--whrapper-padding);
}

.heading {
  font-size: 1.5rem;
  text-align: center;
}

.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--whrapper-padding);
}

.dayName {
  width: 100%;
  padding: 8px 0 7px;
  background-color: $background-layout;
  text-align: center;
  border-radius: $border-radius;
}

.names {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--whrapper-padding);
  justify-content: center;
}

.dayNameSkeleton {
  height: 37px;
  width: 100%;
}

.skeletonText {
  width: 100%;
}
