@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.header {
  @include flex(space-between);
  height: $header-height-mobile;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 $main-side-padding;
  background-color: $primary-color;
  box-shadow: $bottom-shadow;
  z-index: $bigger-nice-index;

  @media (min-width: $tablet) {
    height: $header-height-tablet;
  }

  @media (min-width: $desktop) {
    height: $header-height;
  }
}

.whrapperLeftHead,
.whrapperRightHead {
  @include flex(space-around);
}

.burgerNav,
.burgerSide {
  cursor: pointer;
  margin-top: 0.1875rem;
  padding: 0.1875rem 0.1875rem 0.375rem;
}

.burgerNav {
  @media (min-width: $tablet) {
    display: none;
  }
}

.burgerSide {
  @media (min-width: $biggest-desktop) {
    display: none;
  }
}

.whrapperSocial {
  @include flex(flex-start);
  margin-right: 0.4375rem;

  @media (min-width: $tablet) {
    margin-right: 0.625rem;
    min-width: 10rem;
    margin-right: 0;
  }
}

.logo {
  @include width-height(2.3rem);
  cursor: pointer;

  @media (min-width: $tablet) {
    @include width-height(3rem);
  }

  @media (min-width: $desktop) {
    @include width-height(3.75rem);
  }
}
