@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.header {
  @include flex(space-between);
  height: $header-height-mobile;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 $main-side-padding;
  background-color: $primary-color;
  box-shadow: $bottom-shadow;
  z-index: $bigger-nice-index;

  @media (min-width: $tablet) {
    height: $header-height-tablet;
  }

  @media (min-width: $desktop) {
    height: $header-height;
  }
}

.heading {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.whrapperLeftHead,
.whrapperRightHead {
  @include flex(space-around);
}

.burgerNav,
.burgerSide {
  cursor: pointer;
  margin-top: 0.1875rem;
  padding: 0.1875rem 0.1875rem 0.375rem;
}

.burgerNav {
  @media (min-width: $tablet) {
    display: none;
  }
}

.burgerSide {
  @media (min-width: $whole-content) {
    display: none;
  }
}

.whrapperSocial {
  @include flex(flex-start);
  margin-right: 0.4375rem;

  @media (min-width: $tablet) {
    margin-right: 0.625rem;
    min-width: 10rem;
    margin-right: 0;
  }
}

.logo {
  @include width-height(2.3rem);
  cursor: pointer;

  @media (min-width: $tablet) {
    @include width-height(3rem);
  }

  @media (min-width: $desktop) {
    @include width-height(3.75rem);
  }
}

.search {
  $search-height: 43px;
  $search-offset: 5px;
  $search-vertical-padding: 12px;
  $search-horizontal-padding: 8px;
  $size-tablet: 0.8;
  $font-tablet: 0.9;
  $size-mobile: 0.7;
  $font-mobile: 0.5;

  position: relative;
  background-color: $background-color;
  border-radius: $border-radius;
  font-size: 1rem * $font-tablet;

  input {
    position: relative;
    height: $search-height * $size-mobile;
    width: 300px * $font-mobile;
    padding: 0 $search-vertical-padding * $size-mobile;
    border: 1px solid $background-color;
    border-radius: $border-radius;
    z-index: $nice-index;

    &:hover,
    &:active,
    &:focus {
      border-color: $active-and-input-color;
    }
  }

  ul {
    position: absolute;
    left: 0;
    right: 0;
    top: $search-height * $size-mobile + $search-offset;
    background-color: $background-color;
    border: 1px solid $active-and-input-color;
    padding: $search-offset 0;
  }

  li {
    &:hover {
      background-color: $active-and-input-color;
      a {
        color: $btn-color;
      }
    }
  }

  .searchLink,
  span {
    display: inline-block;
    padding: $search-horizontal-padding * $size-mobile $search-vertical-padding * $size-mobile;
  }

  .searchLink {
    width: 100%;
    height: 100%;
  }

  $svg-times: 2;
  svg {
    display: none;
    position: absolute;
    top: 50%;
    fill: $white-color;
    transform: translateY(-50%);
    z-index: 1;
  }

  @media (min-width: $tablet) {
    input {
      width: 300px * $font-tablet;
      height: $search-height * $size-tablet;
      padding: 0 $search-vertical-padding;
    }

    ul {
      top: $search-height * $size-tablet + $search-offset;
    }

    .searchLink,
    span {
      padding: $search-horizontal-padding $search-vertical-padding;
    }

    svg {
      display: block;
      right: $search-height / (2 * $svg-times) * $font-tablet;
      width: $search-height / $svg-times * $font-tablet;
      height: $search-height / $svg-times * $font-tablet;
    }
  }

  @media (min-width: $desktop) {
    font-size: 1rem;

    input {
      width: 300px;
      height: $search-height;
    }

    ul {
      top: $search-height + $search-offset;
    }

    svg {
      right: $search-height / (2 * $svg-times);
      width: $search-height / $svg-times;
      height: $search-height / $svg-times;
    }
  }
}
