@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.whrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  @include background-image('');

  &:hover {
    .textContent,
    .hover,
    .download {
      display: block;
    }
  }
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: $gap;
}

.textContent {
  z-index: $nice-index;
  text-align: center;
}

.hover {
  background-color: $black-color;
  opacity: 0.8;
  @include stretch-absolute();
}

.textContent,
.hover,
.download {
  display: none;
}

.title {
  font-weight: 600;
}

.episodes {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.description {
  // font-size: $font-size;
}

.download {
  align-self: center;
  background-color: $btn-color;
  padding: 4px $whrapper-padding;
  font-size: $smaller-font;
  z-index: $nice-index;
  border-radius: $border-radius;
  margin-bottom: $whrapper-padding;

  &:hover {
    background-color: $btn-hover-color;
  }
}
