@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  gap: var(--whrapper-padding);
}

.heading {
  font-size: 1.5rem;
  text-align: center;
}

.desc {
  text-align: center;
}

.day {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--whrapper-padding);
}

.dayName {
  width: 100%;
  padding: 8px 0 7px;
  background-color: $background-layout;
  text-align: center;
  border-radius: $border-radius;
}

.animes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--whrapper-padding);
  justify-content: center;
}

.animeItem {
  width: 204px;
  height: 291px;
  border: 2px solid $btn-color;
  border-radius: $border-radius;

  &:hover {
    border: 2px solid $btn-hover-color;
  }

  @media (min-width: $tablet) {
    width: 249px;
    height: 356px;
  }
}

.dayNameSkeleton {
  height: 37px;
  width: 100%;
}
