@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.content {
  margin-top: $layout-margin;
  background-color: $white;
  padding: $schedule-layout-padding;
  border-radius: $border-radius;
}

.title,
.description {
  text-align: center;
  color: $font-grey;
  line-height: $bigger-line-height;
}

.title {
  font-size: $title-font-size;
}

.description {
  font-size: $font-size;
  font-style: $font-italic;
}

.day {
  color: $white;
  background-color: $light-grey;
  margin: $layout-margin 8px;
  border-radius: $border-radius;
  font-size: 13pt;
  height: 30px;
  @include flex-center();
}

.animes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 6px;
  padding: 8px;
}

.animeItem {
  height: 280px;
  border: $anime-item-border-size solid $light-grey;
  border-radius: $anime-item-border-radius;

  &:hover {
    border: $anime-item-border-size solid $anime-item-border-hover;
  }
}
