@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.search {
  margin-bottom: var(--whrapper-padding);

  form {
    gap: var(--whrapper-padding);
    height: 100%;
    @include flex(flex-start, space-between);
    flex-direction: column;
  }

  @media (min-width: 652px) {
    min-height: 94px;
    display: block;
  }
}

.skeleton {
  height: 191px;
  border-radius: $border-radius;

  @media (min-width: 652px) {
    height: 94px;
  }
}

.selects {
  @include flex(flex-start, space-between);
  flex-direction: column;
  gap: var(--whrapper-padding);
  margin-bottom: var(--whrapper-padding);

  @media (min-width: 652px) {
    flex-direction: row;
  }

  .select {
    @media (min-width: 652px) {
      flex: 1.4;
      align-self: flex-start;

      &:first-child {
        flex: 2.5;
      }

      &:nth-child(2) {
        flex: 1.6;
      }
    }
  }
}

.submits {
  display: flex;
  flex-flow: wrap;
  gap: var(--whrapper-padding);

  button {
    &:last-child {
      svg {
        fill: $super-white-color;
        margin: 3px 3px 0 0;
        @include width-height(1.25rem);
      }
    }
  }
}
