@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.content {
  $twoItemInRow: 630px;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: $gap;
  align-items: flex-start;
  justify-content: start;

  @media (min-width: $twoItemInRow) {
    grid-template-columns: 1fr 1fr;
  }

  .link {
    $height: 165px;
    $width: 294px;

    justify-self: center;
    display: block;
    position: relative;
    @include background-image();
    border-radius: $border-radius;
    opacity: 0.8;

    @mixin resizeItems($w, $m, $am: 1) {
      @media (min-width: ($w * $m)) {
        height: $height * $m * $am;
        width: $width * $m * $am;
      }
    }

    @media (min-width: $twoItemInRow) {
      justify-self: end;

      &:nth-child(even) {
        justify-self: start;
      }
    }

    $count: 1;
    @while $count < 2 {
      @include resizeItems($min-width, $count);
      $count: $count + 0.06;
    }

    $count630: 1;
    @while $count630 < 1.2 {
      @include resizeItems($twoItemInRow, $count630);
      $count630: $count630 + 0.06;
    }

    $count768: 1;
    $m768: 1.1;
    @while $count768 < 1.55 {
      @include resizeItems($tablet, $count768, $m768);
      $count768: $count768 + 0.06;
      $m768: $m768 + 0.008;
    }

    $count1200: 1;
    $m1200: 1.45;
    @while $count1200 < 1.25 {
      @include resizeItems($biggest-desktop, $count1200, $m1200);
      $count1200: $count1200 + 0.06;
      $m1200: $m1200 + 0.03;
    }

    $count1500: 1;
    $m1500: 1.5;
    @while $count1500 < 1.31 {
      @include resizeItems($whole-content, $count1500, $m1500);
      $count1500: $count1500 + 0.06;
      $m1500: $m1500 + 0.06;
    }

    &:hover {
      opacity: 1;
    }

    img {
      // the image that comes from back is broken, so this hack is to show skeleton
      display: none;
    }
  }
}
