@import 'src/styles/_mixins';
@import 'src/styles/_variables';

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.link {
  display: block;
  position: relative;
  // height: $initial-youtube-height;
  @include background-image();
  border-radius: $border-radius;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  img {
    // the image that comes from back is broken, so this hack is to show skeleton
    visibility: hidden;
  }
}
